---
title: "Banki energii | Quantum Bio Energetics"
description: "Poznaj banki energii Quantum Bio Energetics. Dowiedz się, jak magazynować energię, oszczędzać na rachunkach i zapewnić stabilne dostawy zielonej energii dla Twojego gospodarstwa."
preloadImg: "/assets/images/biogas-plant-1.webp"
permalink: "banki-energii/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />

<style>
  .form-button-container>div>button {
    border-radius: 0 !important;
    background-color: #0d9488 !important;
    transition: 200ms ease !important;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji') !important;
    /* padding-inline: calc(1rem * 2) !important;
        padding-block: calc(1rem * 1) !important; */
    font-size: var(--tw-text-lg) !important;
  }

  .form-button-container>div>button:hover {
    background-color: #65a30d !important;
  }
</style>
{% endblock %}

{% block body %}

<section
  class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 py-12 grid grid-cols-1 md:grid-cols-2 items-center md:gap-10 mt-12">
  <div class="space-y-8">
    <hgroup class="space-y-2" data-aos="fade-up" data-aos-delay="50">
      <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Magazynowanie energii</p>
      <h2 data-id="title" class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl !mb-8">
        Banki energii - przechowuj <span class="text-lime-600">energię</span> na przyszłość
      </h2>
      <p data-id="subtitle">
        <strong>Banki energii</strong> to zaawansowane systemy, które umożliwiają <strong>magazynowanie energii</strong>
        wytworzonej z różnych źródeł. Dzięki nim możemy efektywnie zarządzać <strong>zasobami energetycznymi</strong> i
        zapewnić stabilne dostawy <strong>zielonej energii</strong>.
      </p>
    </hgroup>

    <ul class="space-y-5"
      data-prompt="Write a benefits section where each benefit has a title and a very short description. The titles lay out the key benefits to the user and the description goes into the services and/or features that the company has to offer. The benefits should explain the perks that this company brings."
      data-aos="fade-up" data-aos-delay="100">
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b"
          stroke="#54fe0b">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <style type="text/css">
              .st0 {
                fill: #299900;
              }
            </style>
            <g>
              <path class="st0"
                d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z">
              </path>
            </g>
          </g>
        </svg>
        <span data-id="benefit_1_title">Stały dostęp do energii elektrycznej</span>
      </li>
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b"
          stroke="#54fe0b">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <style type="text/css">
              .st0 {
                fill: #299900;
              }
            </style>
            <g>
              <path class="st0"
                d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z">
              </path>
            </g>
          </g>
        </svg>
        <span data-id="benefit_2_title">Stabilne zasilanie urządzeń i infrastruktury</span>
      </li>
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b"
          stroke="#54fe0b">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <style type="text/css">
              .st0 {
                fill: #299900;
              }
            </style>
            <g>
              <path class="st0"
                d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z">
              </path>
            </g>
          </g>
        </svg>
        <span data-id="benefit_3_title">Oszczędność energii</span>
      </li>
    </ul>

    <div class="flex gap-3 form-button-container">
      <!-- <div data-tf-live="01JKX1N3Z03K8J5JDBFH4VP49H"></div>
      <script src="//embed.typeform.com/next/embed.js"></script> -->
      <a class="mt-2 inline-flex py-3 px-6 items-center justify-center text-lg font-medium text-gray-300 bg-gray-700"
      aria-disabled="true" disabled data-aos="fade-up" data-aos-delay="100">Nadchodzi wkrótce</a>
    </div>
  </div>

  <div class="max-md:row-start-1 max-md:mb-8">
    <img src="/assets/images/battery-storage.webp" class="w-full" data-aos="fade-left" />
  </div>
</section>

<section class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-14 py-28">
  <hgroup data-prompt="Create the copy for a heading group." class="text-center space-y-4">
    <p class="uppercase text-lime-700 font-semibold">Baterie dla gospodarstw</p>
    <h2 data-id="title" class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl mb-4">
      Postaw na <span class="text-lime-600">stabilne</span> dostarczanie <span class="text-lime-600">energii
        elektrycznej</span>
    </h2>
    <p data-id="subtitle">
      Banki energii BESS to nowoczesne rozwiązania, które pozwalają na efektywne zarządzanie energią w gospodarstwach
      rolnych. Dzięki nim możesz przechowywać nadwyżki energii i korzystać z niej wtedy, gdy jest najbardziej potrzebna.
      Inwestując w BESS, zyskujesz niezależność energetyczną i oszczędności na rachunkach za prąd.
    </p>
  </hgroup>

  <div class="grid grid-cols-1 gap-12 md:grid-cols-3"
    data-prompt="Write a benefits section where each benefit has a title and a very short description. The titles lay out the key benefits to the user and the description goes into the services and/or features that the company has to offer. The benefits should explain the perks that this company brings.">
    <div class="text-center space-y-2 md:space-y-4 py-4 bg-white shadow  px-2 border-t-4 border-lime-700" data-aos="fade-up">
      <img src="https://www.svgrepo.com/show/341446/engineering-helmet-engineer-profession-construction-and-tools.svg"
        alt="icon" class="mx-auto" width="100" />

      <h3 data-id="benefit_1_title" class="font-bold text-xl md:text-2xl lg:text-3xl">
        Ekspertyza dopasowana do Twoich potrzeb
      </h3>
      <p data-id="benefit_1_description">
        Nasza ekspertyza obejmuje instalację, projektowanie i utrzymanie magazynów energii, dostosowanych do
        indywidualnych potrzeb każdego klienta. Zapewniamy kompleksowe wsparcie na każdym etapie realizacji projektu.
      </p>
    </div>

    <div class="text-center space-y-2 md:space-y-4 py-4 bg-white shadow px-2 border-t-4 border-lime-700" data-aos="fade-up">
      <img src="https://www.svgrepo.com/show/341464/transformer-power-voltage-energy-electronic.svg" alt="icon"
        class="mx-auto" width="100" />

      <h3 data-id="benefit_2_title" class="font-bold text-xl md:text-2xl lg:text-3xl">
        Duży wybór technologii baterii BESS
      </h3>
      <p data-id="benefit_2_description">
        Oferujemy szeroki wybór technologii baterii BESS, które są dostosowane do różnych potrzeb i wymagań. Nasze
        rozwiązania zapewniają niezawodność i efektywność energetyczną.
      </p>
    </div>

    <div class="text-center space-y-2 md:space-y-4 py-4 bg-white shadow px-2 border-t-4 border-lime-700" data-aos="fade-up">
      <img src="https://www.svgrepo.com/show/341461/supply-chain-distribution-industry-production.svg" alt="icon"
        class="mx-auto" width="100" />

      <h3 data-id="benefit_3_title" class="font-bold text-xl md:text-2xl lg:text-3xl">
        Instalacja i zarządzanie projektem
      </h3>
      <p data-id="benefit_3_description">
        Pomagamy w każdym kroku procesu instalacji i zarządzania projektem, zapewniając, że technologia BESS jest
        wdrożona efektywnie i zgodnie z najwyższymi standardami.
      </p>
    </div>
  </div>

</section>

<section class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-10 py-28 lg:space-y-14">
  <hgroup class="space-y-2 md:space-y-4" data-prompt="Create the copy for a heading group.">
    <h2 class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl" data-id="title">
      Dowiedz się <span class="text-lime-600">więcej</span>
    </h2>
    <p data-id="subtitle">
      Poniżej znajdziesz odpowiedzi na pytania, które mogą Cię interesować. Nasz zespół przygotował szczegółowe
      informacje, aby rozwiać wszelkie wątpliwości dotyczące naszych produktów i usług.
    </p>
  </hgroup>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <div class="py-2" data-aos="fade-right">
      <div data-id="faq1_question" class="font-semibold py-3 cursor-pointer">
        Jakie są korzyści z instalacji banków energii na moim gospodarstwie?
      </div>
      <p data-id="faq1_answer">
        Instalacja banków energii pozwala na magazynowanie nadwyżek energii, co zapewnia stabilne dostawy energii
        elektrycznej, redukuje koszty energii i zwiększa niezależność energetyczną gospodarstwa.
      </p>
    </div>

    <div class="py-2" data-aos="fade-right">
      <div data-id="faq2_question" class="font-semibold py-3 cursor-pointer">
        Jakie są koszty instalacji banków energii?
      </div>
      <p data-id="faq2_answer">
        Koszty instalacji banków energii zależą od wielu czynników, takich jak wielkość systemu, rodzaj baterii i
        specyficzne wymagania gospodarstwa. Zalecamy skontaktowanie się z naszym zespołem w celu uzyskania dokładnej
        wyceny.
      </p>
    </div>

    <div class="py-2" data-aos="fade-right">
      <div data-id="faq3_question" class="font-semibold py-3 cursor-pointer">
        Jak długo trwa instalacja banków energii?
      </div>
      <p data-id="faq3_answer">
        Czas instalacji banków energii zależy od skali projektu i specyficznych wymagań technicznych. Zazwyczaj proces
        instalacji trwa od kilku dni do kilku tygodni.
      </p>
    </div>

    <div class="py-2" data-aos="fade-right">
      <div data-id="faq4_question" class="font-semibold py-3 cursor-pointer">
        Czy banki energii są kompatybilne z istniejącymi systemami energetycznymi?
      </div>
      <p data-id="faq4_answer">
        Tak, nasze banki energii są zaprojektowane tak, aby były kompatybilne z różnymi systemami energetycznymi, w tym
        z instalacjami fotowoltaicznymi i wiatrowymi. Zapewniamy pełne wsparcie techniczne w zakresie integracji
        systemów.
      </p>
    </div>

  </div>
</section>

{% include "components/cta.html" %}

{% endblock %}