<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section class="relative text-white m-3 mt-14">
    <div class="absolute inset-0 -z-10">
        <img src="/assets/images/biogas-plant-1.webp" class="w-full h-full object-cover" />

        <div class="absolute inset-0 backdrop-blur-sm" style="background-color: rgba(0, 0, 0, 0.5);"></div>
    </div>

    <div class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 py-12 md:py-16 lg:py-20"
        data-prompt="Create the copy for a heading group.">
        <div class="space-y-4">
            <hgroup class="space-y-4">
                <h2 data-id="headline" class="font-bold text-balance text-4xl md:text-5xl lg:text-6xl">
                    Odezwij się do nas aby <span class="text-lime-500">odmienić energetykę</span> swojego przedsiębiorstwa.
                </h2>

                <p data-id="sub_headline" class="text-gray-200">
                    Zachęcamy przedsiębiorców do kontaktu z nami, aby dowiedzieć się, jak nasze innowacyjne rozwiązania mogą pomóc w transformacji energetycznej Twojego biznesu.
                </p>
            </hgroup>

            <div class="flex gap-4">
                <a class="mt-2 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                    href="/kontakt">Skontaktuj się</a>
            </div>
        </div>
    </div>
</section>