---
title: "Oświetlenie LED | Quantum Bio Energetics"
description: "Meta description for the page"
preloadImg: "/assets/images/biogas-plant-1.webp"
permalink: "oswietlenie-led/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/contact.css" />

<style>
    .form-button-container>div>button {
        border-radius: 0 !important;
        background-color: #0d9488 !important;
        transition: 200ms ease !important;
        font-family: var( --default-font-family, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' ) !important;
        /* padding-inline: calc(1rem * 2) !important;
        padding-block: calc(1rem * 1) !important; */
        font-size: var(--tw-text-lg) !important;
    }

    .form-button-container>div>button:hover {
        background-color: #65a30d !important;
    }
</style>
{% endblock %}

{% block body %}

<section
  class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 py-12 grid grid-cols-1 md:grid-cols-2 items-center md:gap-10 mt-12"
>
  <div class="space-y-8">
    <hgroup
      class="space-y-2"
      data-aos="fade-up" data-aos-delay="50"
    >
      <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Nowoczesne oświetlenie</p>
      <h2
      data-id="title"
      class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl !mb-8"
      >
      Oświetlenie LED - oszczędzaj <span class="text-lime-600">energię</span> i <span class="text-lime-600">pieniądze</span>
      </h2>
      <p data-id="subtitle">
      <strong>Oświetlenie LED</strong> to nowoczesne rozwiązanie, które zapewnia <strong>wysoką jakość światła</strong> przy niskim zużyciu energii. Dzięki temu możesz cieszyć się <strong>jasnym i trwałym oświetleniem</strong>, jednocześnie zmniejszając rachunki za prąd.
      </p>
    </hgroup>

    <ul
      class="space-y-5"
      data-prompt="Write a benefits section where each benefit has a title and a very short description. The titles lay out the key benefits to the user and the description goes into the services and/or features that the company has to offer. The benefits should explain the perks that this company brings."
      data-aos="fade-up" data-aos-delay="100"
      >
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b" stroke="#54fe0b"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#299900;} </style> <g> <path class="st0" d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z"></path> </g> </g></svg>
        <span data-id="benefit_1_title">Oszczędność energii</span>
      </li>
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b" stroke="#54fe0b"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#299900;} </style> <g> <path class="st0" d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z"></path> </g> </g></svg>
        <span data-id="benefit_2_title">Długa żywotność oświetlenia LED</span>
      </li>
      <li class="flex items-center gap-2">
        <svg height="20px" width="20px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#54fe0b" stroke="#54fe0b"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .st0{fill:#299900;} </style> <g> <path class="st0" d="M469.402,35.492C334.09,110.664,197.114,324.5,197.114,324.5L73.509,184.176L0,254.336l178.732,222.172 l65.15-2.504C327.414,223.414,512,55.539,512,55.539L469.402,35.492z"></path> </g> </g></svg>
        <span data-id="benefit_3_title">Lepsza jakość światła</span>
      </li>
    </ul>

    <div class="flex gap-3 form-button-container">
        <div data-tf-live="01JKX1N3Z03K8J5JDBFH4VP49H"></div>
        <script src="//embed.typeform.com/next/embed.js"></script>
    </div>
  </div>

  <div class="max-md:row-start-1 max-md:mb-8">
    <img src="/assets/images/led-light.webp" class="w-full" data-aos="fade-left"/>
  </div>
</section>


{% endblock %}