<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!doctype html>
<html lang="en">

<head>
    <!-- Standard meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="" />
    <link rel="canonical" href="{{ client.domain }}{{ page.url }}" />

    <!--Social Media Display-->
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ client.domain }}{{ page.url }}" />
    <meta property="og:image" content="/assets/images/logo-small.png" />
    <meta property="og:image:secure_url" content="/assets/images/logo-small.png" />

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v1" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="/assets/favicons/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Preloads -->
    <link rel="preload" as="image" href="/assets/svgs/logo-white.svg" />
    <!-- TODO: google font -->
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&amp;display=swap"
        rel="stylesheet" />
    <!-- Alpine.js -->
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js" defer="defer"></script>
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/css/tailwind/tailwind.min.css" />
    <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
    {% if preloadImg != '' %}
    <link rel="preload" as="image" href="{{ preloadImg }}" />
    {% endif %}

    {% block head %}{% endblock %}

    <title>{{ title }}</title>
</head>

<body class="antialiased bg-body text-body font-body">
    <main id="main">{% block body %}{% endblock %}</main>
</body>

</html>