---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- Link Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/css/swiper/heroSwiper.css" />
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer src="/assets/js/heroSwiper.js"></script>

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

<!-- JSON Schema Markup -->
<!-- prettier-ignore-start -->
<script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
<!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
<section class="relative bg-teal-900 w-full h-[85vh]">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/assets/swiper/biogas.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full bg-black/60 backdrop-blur-xs">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold">
                            Reużywanie odpadów
                        </h2>
                        <h1
                            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-6xl font-heading text-white mb-8 max-w-5xl leading-20">
                            Przekształć odpady rolnicze w energię z biogazowni</h1>
                        <p class="max-w-4xl text-gray-200">Nasza biogazownia przekształca odpady rolnicze w cenną
                            energię, przyczyniając się do zrównoważonego rozwoju i ochrony środowiska. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            planety.</p>
                        <a class="mt-2 inline-flex py-2 px-3 items-center justify-center text-lg font-medium text-white border border-teal-900 hover:border-lime-600 bg-teal-900 hover:bg-lime-600  transition duration-200"
                            href="#">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/assets/swiper/solar-farm.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full bg-black/60 backdrop-blur-xs">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold">
                            Energia słoneczna
                        </h2>
                        <h1
                            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-6xl font-heading text-white mb-8 max-w-5xl leading-20">
                            Wykorzystaj moc słońca dzięki fotowoltaice</h1>
                        <p class="max-w-4xl text-gray-200">Nasze panele fotowoltaiczne przekształcają energię słoneczną
                            w elektryczność, przyczyniając się do zrównoważonego rozwoju i ochrony środowiska. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            planety.</p>
                        <a class="mt-2 inline-flex py-2 px-3 items-center justify-center text-lg font-medium text-white border border-teal-900 hover:border-lime-600 bg-teal-900 hover:bg-lime-600  transition duration-200"
                            href="#">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/assets/swiper/batteries.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full bg-black/60 backdrop-blur-xs">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold">
                            Magazyny energii
                        </h2>
                        <h1
                            class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-6xl font-heading text-white mb-8 max-w-5xl leading-20">
                            Zwiększ niezależność energetyczną dzięki magazynom energii</h1>
                        <p class="max-w-4xl text-gray-200">Nasze magazyny energii pozwalają na przechowywanie nadmiaru
                            energii, co zwiększa niezależność energetyczną gospodarstw domowych i firm. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            środowiska.</p>
                        <a class="mt-2 inline-flex py-2 px-3 items-center justify-center text-lg font-medium text-white border border-teal-900 hover:border-lime-600 bg-teal-900 hover:bg-lime-600  transition duration-200"
                            href="#">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</section>
<section class="py-12 lg:py-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 md:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4">5,000 Mwh</h5><span
                        class="text-base lg:text-lg text-gray-700">Renewable Energy Generated</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 md:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4">2,500+</h5><span
                        class="text-base lg:text-lg text-gray-700">Renewable Energy Generated</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 sm:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4">10,000+</h5><span
                        class="text-base lg:text-lg text-gray-700">Renewable Energy Generated</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4">15%</h5><span
                        class="text-base lg:text-lg text-gray-700">Renewable Energy Generated</span>
                </div>
            </div>
        </div>
    </div>
</section>

<hr />

<section class="container mx-auto px-6 py-12">
    <div class="flex gap-24 items-center mb-8">
        <h2 class="text-4xl">Ostatnie wpisy</h2>
        <a href="/blog" class="text-teal-900 hover:text-lime-700 transition duration-200 underline">Zobacz więcej</a>

    </div>

    <div class="flex flex-wrap gap-14">
        {% if collections.post | length == 0 %}
        <h2>No Recent Posts</h2>
        {% else %}
        {%- for post in collections.post | reverse -%}
        <article class="max-w-sm bg-white shadow-lg overflow-hidden flex flex-col">
            <img class="w-full h-56 object-cover" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
            <div class="p-6 flex flex-col grow">
                <h3 class="text-xl font-bold text-gray-800">{{ post.data.title }}</h3>
                <p class="mt-3 text-sm text-gray-500">{{ post.data.description }}</p>
                <div class="grow flex flex-col justify-end items-end mt-4">
                    <a href="{{ post.url }}"
                        class="inline-block text-white px-4 py-2 text-sm font-medium hover:text-teal-900 border border-teal-900 hover:border-lime-500 bg-teal-900 hover:bg-lime-500 transition duration-200">Czytaj
                        dalej</a>

                </div>
            </div>
        </article>
        {%- endfor -%}
        {% endif %}
    </div>
</section>

<hr />


<section class="p-4 bg-white">
    <div class="pt-16 pb-24 px-5 xs:px-8 xl:px-12 bg-lime-500 ">
        <div class="container mx-auto px-4">
            <div class="flex mb-4 items-center">
                <svg width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="4" fill="#022C22"></circle>
                </svg><span class="inline-block ml-2 text-sm font-medium">Solutions</span>
            </div>
            <div class="border-t border-teal-900 border-opacity-25 pt-14">
                <h1 class="font-heading text-4xl sm:text-6xl mb-24">Key to clean future</h1>
                <div class="flex flex-wrap -mx-4">
                    <div class="w-full sm:w-1/2 px-4 mb-16">
                        <div>
                            <svg width="48" height="48" viewbox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                                    fill="white"></path>
                                <circle cx="16" cy="16" r="4" fill="#022C22"></circle>
                                <circle cx="24" cy="32" r="4" fill="#022C22"></circle>
                                <circle cx="32" cy="16" r="4" fill="#022C22"></circle>
                            </svg>
                            <div class="mt-6">
                                <h5 class="text-2xl font-medium mb-3">EV charging </h5>
                                <p class="mb-6">EVs use electricity as a power source, which can be generated from
                                    renewable energy sources. Our solutions help reducing greenhouse gas emissions in
                                    the transportation sector.</p><a
                                    class="inline-block text-lg  font-medium hover:text-teal-700" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-full sm:w-1/2 px-4 mb-16">
                        <div>
                            <svg width="48" height="48" viewbox="0 0 48 48" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                                    fill="white"></path>
                                <rect x="23" y="8" width="2" height="12" rx="1" fill="#022C22"></rect>
                                <rect x="23" y="28" width="2" height="12" rx="1" fill="#022C22"></rect>
                                <rect x="34.6066" y="11.9792" width="2" height="12" rx="1"
                                    transform="rotate(45 34.6066 11.9792)" fill="#022C22"></rect>
                                <rect x="20.4645" y="26.1213" width="2" height="12" rx="1"
                                    transform="rotate(45 20.4645 26.1213)" fill="#022C22"></rect>
                                <rect x="28" y="25" width="2" height="12" rx="1" transform="rotate(-90 28 25)"
                                    fill="#022C22"></rect>
                                <rect x="8" y="25" width="2" height="12" rx="1" transform="rotate(-90 8 25)"
                                    fill="#022C22"></rect>
                                <rect x="26.1213" y="27.5355" width="2" height="12" rx="1"
                                    transform="rotate(-45 26.1213 27.5355)" fill="#022C22"></rect>
                                <rect x="11.9792" y="13.3934" width="2" height="12" rx="1"
                                    transform="rotate(-45 11.9792 13.3934)" fill="#022C22"></rect>
                            </svg>
                            <div class="mt-6">
                                <h5 class="text-2xl font-medium mb-3">Solar Energy</h5>
                                <p class="mb-6">Solar panels convert sunlight into electricity. Photovoltaic (PV) cells
                                    on these panels capture the energy from the sun and convert it into electrical
                                    power.</p><a class="inline-block text-lg  font-medium hover:text-teal-700"
                                    href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-12 lg:py-24 overflow-hidden">
    <div class="container mx-auto px-4">
        <div class="max-w-6xl mx-auto mb-24 text-center">
            <h1 class="font-heading text-4xl sm:text-6xl md:text-7xl tracking-sm mb-16">Our commitment to green energy
                is paving the way for a cleaner, healthier planet. </h1><a
                class="inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:text-teal-900 border border-teal-900 hover:border-lime-500 bg-teal-900 hover:bg-lime-500  transition duration-200"
                href="#">Get in touch</a>
        </div>
        <div class="flex justify-center">
            <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8"><img class="block w-full"
                    src="./assets/about/about-image2.png" alt="" /></div>
            <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8"><img class="block w-full"
                    src="./assets/about/about-image3.png" alt="" /></div>
            <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8"><img class="block w-full"
                    src="./assets/about/about-image4.png" alt="" /></div>
            <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md md:max-w-xl mr-4 sm:mr-8"><img class="block w-full"
                    src="./assets/about/about-image2.png" alt="" /></div>
            <div class="hidden md:block sm:flex-shrink-0 h-full max-w-md md:max-w-xl mr-4 sm:mr-8"><img
                    class="block w-full" src="./assets/about/about-image3.png" alt="" /></div>
            <div class="hidden md:block sm:flex-shrink-0 h-full max-w-md md:max-w-xl mr-4 sm:mr-8"><img
                    class="block w-full" src="./assets/about/about-image4.png" alt="" /></div>
        </div>
    </div>
</section>
<section class="py-12 lg:py-24">
    <div class="container mx-auto px-4">
        <div class="text-center mb-20">
            <h1 class="font-heading text-6xl mb-6">FAQ</h1>
            <p class="text-gray-700">Here you will find the answers to the frequently asked questions.</p>
        </div>
        <div class="max-w-4xl mx-auto">
            <button class="flex w-full py-6 px-8 mb-4 items-start justify-between text-left shadow-md "
                x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion">
                <div>
                    <div class="pr-5">
                        <h5 class="text-lg font-medium">What is green energy?</h5>
                    </div>
                    <div class="overflow-hidden h-0 pr-5 duration-500" x-ref="container"
                        :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''">
                        <p class="text-gray-700 mt-4">We provide a range of green energy solutions, including solar
                            power systems, wind turbines, energy-efficient appliances, and smart home technologies to
                            enhance energy sustainability.</p>
                    </div>
                </div><span class="flex-shrink-0">
                    <div :class="{'hidden': accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5.69995V18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="hidden" :class="{'hidden': !accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </span>
            </button>
            <button class="flex w-full py-6 px-8 mb-4 items-start justify-between text-left shadow-md "
                x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion">
                <div>
                    <div class="pr-5">
                        <h5 class="text-lg font-medium">How does green energy benefit the environment?</h5>
                    </div>
                    <div class="overflow-hidden h-0 pr-5 duration-500" x-ref="container"
                        :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''">
                        <p class="text-gray-700 mt-4">We provide a range of green energy solutions, including solar
                            power systems, wind turbines, energy-efficient appliances, and smart home technologies to
                            enhance energy sustainability.</p>
                    </div>
                </div><span class="flex-shrink-0">
                    <div :class="{'hidden': accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5.69995V18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="hidden" :class="{'hidden': !accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </span>
            </button>
            <button class="flex w-full py-6 px-8 mb-4 items-start justify-between text-left shadow-md "
                x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion">
                <div>
                    <div class="pr-5">
                        <h5 class="text-lg font-medium">What green energy solutions does your company offer?</h5>
                    </div>
                    <div class="overflow-hidden h-0 pr-5 duration-500" x-ref="container"
                        :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''">
                        <p class="text-gray-700 mt-4">We provide a range of green energy solutions, including solar
                            power systems, wind turbines, energy-efficient appliances, and smart home technologies to
                            enhance energy sustainability.</p>
                    </div>
                </div><span class="flex-shrink-0">
                    <div :class="{'hidden': accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5.69995V18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="hidden" :class="{'hidden': !accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </span>
            </button>
            <button class="flex w-full py-6 px-8 mb-4 items-start justify-between text-left shadow-md "
                x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion">
                <div>
                    <div class="pr-5">
                        <h5 class="text-lg font-medium">What support services do you offer after installing green energy
                            solutions?</h5>
                    </div>
                    <div class="overflow-hidden h-0 pr-5 duration-500" x-ref="container"
                        :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''">
                        <p class="text-gray-700 mt-4">We provide a range of green energy solutions, including solar
                            power systems, wind turbines, energy-efficient appliances, and smart home technologies to
                            enhance energy sustainability.</p>
                    </div>
                </div><span class="flex-shrink-0">
                    <div :class="{'hidden': accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5.69995V18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="hidden" :class="{'hidden': !accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </span>
            </button>
            <button class="flex w-full py-6 px-8 mb-24 items-start justify-between text-left shadow-md "
                x-data="{ accordion: false }" x-on:click.prevent="accordion = !accordion">
                <div>
                    <div class="pr-5">
                        <h5 class="text-lg font-medium">How do solar panels work?</h5>
                    </div>
                    <div class="overflow-hidden h-0 pr-5 duration-500" x-ref="container"
                        :style="accordion ? 'height: ' + $refs.container.scrollHeight + 'px' : ''">
                        <p class="text-gray-700 mt-4">We provide a range of green energy solutions, including solar
                            power systems, wind turbines, energy-efficient appliances, and smart home technologies to
                            enhance energy sustainability.</p>
                    </div>
                </div><span class="flex-shrink-0">
                    <div :class="{'hidden': accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 5.69995V18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                    <div class="hidden" :class="{'hidden': !accordion}">
                        <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.69995 12H18.3" stroke="#1D1F1E" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </div>
                </span>
            </button>
            <div class="sm:flex py-10 px-5 sm:px-10 bg-orange-50 ">
                <div class="mb-4 sm:mb-0 sm:mr-6">
                    <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0 8C0 3.58172 3.58172 0 8 0H40C44.4183 0 48 3.58172 48 8V40C48 44.4183 44.4183 48 40 48H8C3.58172 48 0 44.4183 0 40V8Z"
                            fill="#BEF264"></path>
                        <path
                            d="M13.676 15.5617C11.7951 17.8602 10.6666 20.7983 10.6666 24C10.6666 27.2017 11.7951 30.1398 13.6761 32.4383L18.9201 27.1943C18.3372 26.2694 18 25.174 18 24C18 22.8259 18.3372 21.7306 18.92 20.8057L13.676 15.5617Z"
                            fill="#022C22"></path>
                        <path
                            d="M15.5616 13.6761L20.8056 18.9201C21.7306 18.3372 22.8259 18 24 18C25.174 18 26.2694 18.3372 27.1943 18.9201L32.4383 13.6761C30.1398 11.7951 27.2017 10.6666 24 10.6666C20.7982 10.6666 17.8601 11.7951 15.5616 13.6761Z"
                            fill="#022C22"></path>
                        <path
                            d="M34.3239 15.5617L29.0799 20.8057C29.6628 21.7307 30 22.8259 30 24C30 25.174 29.6627 26.2693 29.0799 27.1943L34.3238 32.4383C36.2048 30.1398 37.3333 27.2017 37.3333 24C37.3333 20.7983 36.2048 17.8602 34.3239 15.5617Z"
                            fill="#022C22"></path>
                        <path
                            d="M32.4382 34.3239L27.1942 29.0799C26.2693 29.6628 25.174 30 24 30C22.8259 30 21.7307 29.6628 20.8057 29.0799L15.5617 34.3239C17.8602 36.2048 20.7983 37.3333 24 37.3333C27.2016 37.3333 30.1397 36.2048 32.4382 34.3239Z"
                            fill="#022C22"></path>
                    </svg>
                </div>
                <div>
                    <h5 class="text-xl font-medium mb-4">Still have questions?</h5>
                    <p class="text-gray-700"><span>For assistance, please visit our</span> <a
                            class="inline-block text-black font-medium underline" href="#">Contact Us</a> <span>page or
                            call our customer support hotline at</span> <span class="text-black font-medium">(671)
                            555-0110</span> <span>. Our dedicated team is ready to help you on your journey to a
                            greener, more sustainable future.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-12 lg:py-24 overflow-hidden" x-data="{ activeSlide: 1, slideCount: 3 }">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-12 md:mb-0">
                <div class="max-w-lg mx-auto md:mx-0 overflow-hidden">
                    <div class="flex -mx-4 transition-transform duration-500"
                        :style="'transform: translateX(-' + (activeSlide - 1) * 100 + '%)'"><img
                            class="block flex-shrink-0 w-full px-4" src="./assets/testimonials/photo-lg.png"
                            alt="" /><img class="block flex-shrink-0 w-full px-4"
                            src="./assets/testimonials/photo-lg.png" alt="" /><img
                            class="block flex-shrink-0 w-full px-4" src="./assets/testimonials/photo-lg.png" alt="" />
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
                <div class="max-w-lg mx-auto md:mr-0 overflow-hidden">
                    <div class="flex -mx-4 transition-transform duration-500"
                        :style="'transform: translateX(-' + (activeSlide - 1) * 100 + '%)'">
                        <div class="flex-shrink-0 px-4 w-full">
                            <h4 class="text-3xl lg:text-4xl font-medium mb-10">“Flow transformed my energy use.
                                Efficient, green tech, outstanding service!”</h4><span
                                class="block text-xl font-medium">Jenny Wilson</span> <span
                                class="block mb-12 lg:mb-32 text-lg text-gray-700">Solar energy service</span>
                        </div>
                        <div class="flex-shrink-0 px-4 w-full">
                            <h4 class="text-3xl lg:text-4xl font-medium mb-10">“Efficient, green tech, outstanding
                                service”</h4><span class="block text-xl font-medium">John Jones</span> <span
                                class="block mb-12 lg:mb-32 text-lg text-gray-700">CE0 Solar Company</span>
                        </div>
                        <div class="flex-shrink-0 px-4 w-full">
                            <h4 class="text-3xl lg:text-4xl font-medium mb-10">“Flow transformed my energy use,
                                efficient, green tech, outstanding service.”</h4><span
                                class="block text-xl font-medium">James Harrison</span> <span
                                class="block mb-12 lg:mb-32 text-lg text-gray-700">Developer</span>
                        </div>
                    </div>
                    <div>
                        <button class="inline-block mr-4 text-gray-700 hover:text-lime-500"
                            x-on:click="activeSlide = activeSlide &gt; 1 ? activeSlide - 1 : slideCount">
                            <svg width="32" height="32" viewbox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.4 16H7.59998" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 24.4L7.59998 16L16 7.59998" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <button class="inline-block text-gray-700 hover:text-lime-500"
                            x-on:click="activeSlide = activeSlide &lt; slideCount ? activeSlide + 1 : 1">
                            <svg width="32" height="32" viewbox="0 0 32 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.59998 16H24.4" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M16 7.59998L24.4 16L16 24.4" stroke="currentColor" stroke-width="1.5"
                                    stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <div>
        <section>
            <div class="p-4">
                <div class="max-w-xl lg:max-w-5xl mx-auto xl:max-w-none px-5 md:px-12 xl:px-24 py-16 bg-teal-900 ">
                    <div class="container mx-auto px-4">
                        <div class="flex flex-wrap items-center -mx-4">
                            <div class="w-full lg:w-2/3 px-4 mb-8 lg:mb-0">
                                <div class="max-w-md xl:max-w-none">
                                    <h1
                                        class="font-heading text-4xl xs:text-5xl sm:text-6xl tracking-sm text-white mb-6">
                                        Learn Frontend Web Development</h1>
                                    <p class="text-lg text-white opacity-80">Visit www.pixelrocket.store and learn how
                                        to become a frontend web developer</p>
                                </div>
                            </div>
                            <div class="w-full lg:w-1/3 px-4 lg:text-right"><a
                                    class="inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-teal-900 border border-lime-500 hover:border-white bg-lime-500 hover:bg-white  transition duration-200"
                                    href="https://www.pixelrocket.store">Get Started</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}