---
title: "Qbe Energia - Infrastruktura odnawialnej energii"
description: "Odkryj, jak odnawialna energia i nowoczesne technologie mogą przekształcić Twoje gospodarstwo. Dowiedz się
więcej o biogazowniach, fotowoltaice i magazynach energii."
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
---

{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />

<!-- Link Swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/assets/css/swiper/heroSwiper.css" />
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer src="/assets/js/heroSwiper.js"></script>

<!-- Script for Netlify Identity -->
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script defer>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                    document.location.href = "/admin/";
                });
            }
        });
    }
</script>

<script defer>
    window.addEventListener("load", () => {
        // Remove bg-white and text-black on page load
        nav.classList.remove('bg-white');
        nav.classList.remove('text-black');
        nav.classList.add('bg-transparent');
        nav.classList.add('text-white');
    })

    window.addEventListener('scroll', () => {
        const nav = document.getElementById('nav');

        if (window.scrollY > 0) {
            nav.classList.add('bg-white');
            nav.classList.add('text-black');
            nav.classList.remove('bg-transparent');
            nav.classList.remove('text-white');
        } else {
            nav.classList.add('bg-transparent');
            nav.classList.add('text-white');
            nav.classList.remove('bg-white');
            nav.classList.remove('text-black');
        }
    });
</script>

{% endblock %}

{% block body %}
<section class="relative bg-teal-900 w-full h-screen">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/assets/swiper/biogas.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full backdrop-blur-sm"
                    style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">
                            Reużywanie odpadów
                        </h2>
                        <h1 data-aos="fade-up"
                            class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-5xl font-bold text-white mb-5 max-w-5xl">
                            Przekształć <strong class="text-lime-500">odpady rolnicze</strong> w <strong
                                class="text-lime-500">energię</strong> z biogazowni</h1>
                        <p class="max-w-4xl text-gray-200 mb-5" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">Nasza biogazownia przekształca odpady rolnicze w cenną
                            energię, przyczyniając się do zrównoważonego rozwoju i ochrony środowiska. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            planety.</p>
                        <a class="mt-2 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                            href="/biogazownie" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/assets/images/construction-hero.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full backdrop-blur-sm"
                    style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">
                            Nowoczesne budownictwo
                        </h2>
                        <h1 data-aos="fade-up"
                            class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-5xl font-bold text-white mb-5 max-w-5xl">
                            Tworzymy <strong class="text-lime-500">nowoczesne</strong> i <strong
                                class="text-lime-500">innowacyjne</strong> budynki
                        </h1>
                        <p class="max-w-4xl text-gray-200 mb-5" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">Nasze podejście do budownictwa łączy nowoczesne technologie z zasadami
                            zrównoważonego rozwoju, tworząc przestrzenie przyjazne dla ludzi i środowiska. Dzięki
                            innowacyjnym rozwiązaniom, budynki są bardziej efektywne i ekologiczne.</p>
                        <a class="mt-2 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                            href="/budownictwo" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/assets/swiper/solar-farm.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full backdrop-blur-sm"
                    style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">
                            Energia słoneczna
                        </h2>
                        <h1 data-aos="fade-up"
                            class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-5xl font-bold font-heading text-white mb-5 max-w-5xl">
                            Wykorzystaj <strong class="text-lime-500">moc słońca</strong> dzięki fotowoltaice</h1>
                        <p class="max-w-4xl text-gray-200 mb-5" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">Nasze panele fotowoltaiczne przekształcają energię
                            słoneczną
                            w elektryczność, przyczyniając się do zrównoważonego rozwoju i ochrony środowiska. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            planety.</p>
                        <a class="mt-2 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                            href="/fotowoltaika" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/assets/swiper/batteries.webp" alt="" />
                <div class="absolute top-0 left-0 w-full h-full backdrop-blur-sm"
                    style="background-color: rgba(0, 0, 0, 0.5);">
                    <div class="container mx-auto px-4 h-full flex flex-col justify-center items-start gap-4">
                        <h2 class="uppercase text-gray-200 font-semibold" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">
                            Magazyny energii
                        </h2>
                        <h1 data-aos="fade-up"
                            class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-5xl font-bold font-heading text-white mb-5 max-w-5xl">
                            Zwiększ <strong class="text-lime-500">niezależność energetyczną</strong> dzięki magazynom
                            <strong class="text-lime-500">energii</strong>
                        </h1>
                        <p class="max-w-4xl text-gray-200 mb-5" style="color: #eee;" data-aos="fade-up"
                            data-aos-delay="50">Nasze magazyny energii pozwalają na przechowywanie
                            nadmiaru
                            energii, co zwiększa niezależność energetyczną gospodarstw domowych i firm. Dzięki
                            nowoczesnym technologiom, proces ten jest nie tylko efektywny, ale także przyjazny dla
                            środowiska.</p>
                        <a class="mt-2 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                            href="/banki-energii" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
    <div class="w-screen absolute bottom-0 left-0 right-0 grid place-items-center z-50">
        <img src="/assets/svgs/chevron-down.svg" width="50" class="hero-chevron-down" />
    </div>
</section>

<!-- <section class="py-12 lg:py-14">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 md:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4 font-bold">5,000+ Mwh</h5><span
                        class="text-base lg:text-lg text-gray-700">Wygenerowanej energii</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 md:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4 font-bold">129+</h5><span
                        class="text-base lg:text-lg text-gray-700">Biogazowni</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-10 sm:mb-0">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4 font-bold">79+</h5><span
                        class="text-base lg:text-lg text-gray-700">Unowocześnionych gospodarstw</span>
                </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 px-4">
                <div class="text-center">
                    <h5 class="text-2xl xs:text-3xl lg:text-4xl xl:text-5xl mb-4 font-bold">30%</h5><span
                        class="text-base lg:text-lg text-gray-700">Oszczędności na kosztach energii</span>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-14 py-20 items-center md:gap-10">
    <hgroup class="space-y-2 text-center" data-prompt="Create the copy for a heading group." data-aos="fade-up"
        data-aos-delay="50">
        <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Aktualności</p>
        <h2 data-id="title" class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl mb-4">
            Zobacz jak <span class="text-lime-600">zmieniamy energetykę</span>
        </h2>
        <p data-id="subtitle">
            Na bieżąco wstawiamy arktykuły aktualizujące nasze działania i nowości w branży energii odnawialnej.
        </p>
    </hgroup>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        {% if collections.post | length == 0 %}
        <h2 data-aos="fade-up" data-aos-delay="100">No Recent Posts</h2>
        {% else %}
        {%- for post in collections.post | reverse -%}
        {% if loop.index0 < 2 %} <div
            class="shadow-md hover:shadow-lg grid grid-cols-1 sm:grid-cols-2 items-center lg:row-span-1 lg:col-span-1 bg-white border-t-4 border-lime-700"
            data-aos="fade-up" data-aos-delay="150">
            <hgroup class="space-y-1 p-5">
                <p data-id="benefit_1_tagline" class="text-gray-500 text-sm">{{ post.data.date.toLocaleDateString() }}
                </p>
                <h4 data-id="benefit_1_title" class="font-semibold text-balance text-xl md:text-2xl lg:text-3xl">
                    {{ post.data.title }}
                </h4>
                <p data-id="benefit_1_description">
                    {{ post.data.description }}
                </p>
                <a class="py-2 inline-flex items-center gap-2 underline hover:text-lime-600 text-teal-700"
                    href="{{ post.url }}">
                    <span>Czytaj dalej</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                    </svg>
                </a>
            </hgroup>
            <div>
                <img src="{{ post.data.image }}" class="w-full" alt="{{ post.data.imageAlt }}" />
            </div>
    </div>
    {% endif %}
    {%- endfor -%}
    {% endif %}
    </div>
    <div class="grid place-items-center" data-aos="fade-up" data-aos-delay="200">
        <p>lub <a href="/blog" class="underline inline-flex items-center hover:text-lime-600 text-teal-700">zobacz
                wszystkie
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                </svg></a></p>
    </div>
</section>

<section
    class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-10 py-20 grid grid-cols-1 md:grid-cols-2 items-center md:gap-10"
    data-prompt="Write the headings for the benefits section">

    <div data-aos="fade-up" data-aos-delay="100">
        <img src="/assets/images/construction-hero.webp" class="w-full" />
    </div>

    <div class="space-y-6" data-aos="fade-up" data-aos-delay="50">
        <hgroup class="space-y-4">
            <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Nowoczesne budownictwo</p>
            <h2 data-id="headline" class="font-bold text-balance text-4xl md:text-5xl lg:text-6xl">
                Zrównoważone <span class="text-lime-600">budynki</span> i <span class="text-lime-600">innowacyjne</span>
                technologie
            </h2>
            <p data-id="sub_headline">
                Poznaj, jak nowoczesne technologie i zrównoważone podejście do budownictwa mogą tworzyć bardziej
                efektywne i ekologiczne przestrzenie do życia i pracy.
            </p>
        </hgroup>
        <a class="mt-4 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
            href="/budownictwo" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
    </div>

</section>

<section
    class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-10 py-20 grid grid-cols-1 md:grid-cols-2 items-center md:gap-10"
    data-prompt="Write the headings for the benefits section">
    <div class="space-y-6" data-aos="fade-up" data-aos-delay="50">
        <hgroup class="space-y-4">
            <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Przyszłość zrównoważonego rolnictwa</p>
            <h2 data-id="headline" class="font-bold text-balance text-4xl md:text-5xl lg:text-6xl">
                Odnawialna <span class="text-lime-600">energia</span> i <span class="text-lime-600">wtórne</span>
                wykorzystanie surowców
            </h2>
            <p data-id="sub_headline">
                Odkryj, jak odnawialna energia i wtórne wykorzystanie surowców mogą przyczynić się do zrównoważonego
                rozwoju rolnictwa, zwiększając efektywność i ochronę środowiska.
            </p>
            <a class="mt-4 inline-flex py-4 px-6 items-center justify-center text-lg font-medium text-white hover:border-lime-600 bg-teal-600 hover:bg-lime-600  transition duration-200"
                href="/biogazownie" data-aos="fade-up" data-aos-delay="100">Dowiedz się więcej</a>
        </hgroup>
    </div>

    <div data-aos="fade-up" data-aos-delay="100">
        <img src="https://imgproxy.divecdn.com/LNGwJsXgR9U1DNIEUEkayewZJM_P0xN5Z1LIrYAt4gQ/g:ce/rs:fill:1200:675:1/Z3M6Ly9kaXZlc2l0ZS1zdG9yYWdlL2RpdmVpbWFnZS9HZXR0eUltYWdlcy0xMzU4NDUwMTkyLmpwZw==.webp"
            class="w-full" />
    </div>
</section>

<section class="container mx-auto px-3 sm:px-5 md:px-8 lg:px-12 space-y-10 py-12 lg:space-y-14">
    <hgroup class="text-center space-y-2 md:space-y-4" data-prompt="Write a heading group for this section."
        data-aos="fade-up" data-aos-delay="50">
        <p data-id="tagline" class="uppercase text-lime-700 font-semibold">Odkryj naszą ofertę</p>
        <h2 data-id="title" class="font-bold text-balance text-3xl md:text-4xl lg:text-5xl max-w-3xl mx-auto">
            <span class="text-lime-600">Innowacyjne</span> sposoby na energię dla <span class="text-lime-600">twojego
                gospodarstwa</span>
        </h2>
        <p data-id="subtitle">
            Poznaj nasze innowacyjne rozwiązania w zakresie energii odnawialnej, które przyczyniają się do
            zrównoważonego rozwoju i ochrony środowiska.
        </p>
    </hgroup>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="border-t-4 border-lime-700 p-6 text-center flex flex-col gap-8 bg-white shadow-md"
            data-aos="fade-up" data-aos-delay="100">
            <hgroup class="space-y-3">
                <p data-id="offer_1_title" class="font-bold text-balance text-xl text-lime-700">
                    Biogazownie
                </p>
                <h2 data-id="offer_1_subtitle" class="font-bold text-balance text-2xl md:text-3xl lg:text-4xl">
                    Przekształć odpady w energię
                </h2>
            </hgroup>
            <ul class="space-y-4">
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_1_feature_1">Efektywne przetwarzanie odpadów</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_1_feature_2">Zrównoważony rozwój</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_1_feature_3">Ochrona środowiska</span>
                </li>
            </ul>
            <div class="grow flex flex-col justify-end">
                <!-- <a href="/biogazownie" data-id="offer_1_call_to_action_button"
                    class="bg-black px-5 py-3 text-center text-white w-full bg-teal-600 hover:bg-lime-600 transition font-semibold">
                    Dowiedz się więcej
                </a> -->
            </div>
        </div>

        <div class="border-t-4 border-lime-700 p-6 text-center flex flex-col gap-8 bg-white shadow-md"
            data-aos="fade-up" data-aos-delay="150">
            <hgroup class="space-y-3">
                <p data-id="offer_2_title" class="font-bold text-balance text-xl text-lime-700">
                    Banki energii
                </p>
                <h2 data-id="offer_2_subtitle" class="font-bold text-balance text-2xl md:text-3xl lg:text-4xl">
                    Magazynuj nadmiar energii
                </h2>
            </hgroup>
            <ul class="space-y-4">
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_2_feature_1">Niezależność energetyczna</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_2_feature_2">Efektywne przechowywanie energii</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_2_feature_3">Przyjazne dla środowiska</span>
                </li>
            </ul>
            <div class="grow flex flex-col justify-end">
                <!-- <a href="/banki-energii" data-id="offer_2_call_to_action_button"
                    class="bg-black px-5 py-3 text-center text-white w-full bg-teal-600 hover:bg-lime-600 transition font-semibold">
                    Dowiedz się więcej
                </a> -->
            </div>
        </div>

        <div class="border-t-4 border-lime-700 p-6 text-center flex flex-col gap-8 bg-white shadow-md"
            data-aos="fade-up" data-aos-delay="200">
            <hgroup class="space-y-3">
                <p data-id="offer_3_title" class="font-bold text-balance text-xl text-lime-700">
                    Fotowoltaika
                </p>
                <h2 data-id="offer_3_subtitle" class="font-bold text-balance text-2xl md:text-3xl lg:text-4xl">
                    Wykorzystaj energię od słońca
                </h2>
            </hgroup>
            <ul class="space-y-4">
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_3_feature_1">Efektywne panele słoneczne</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_3_feature_2">Zrównoważony rozwój</span>
                </li>
                <li class="flex items-center gap-4">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
                    </svg>
                    <span data-id="offer_3_feature_3">Ochrona środowiska</span>
                </li>
            </ul>
            <div class="grow flex flex-col justify-end">
                <!-- <a href="/fotowoltaika" data-id="offer_3_call_to_action_button"
                    class="bg-black px-5 py-3 text-center text-white w-full bg-teal-600 hover:bg-lime-600 transition font-semibold">
                    Dowiedz się więcej
                </a> -->
            </div>
        </div>
    </div>
</section>

{% include "components/cta.html" %}

{% endblock %}