
.dropdown {
    position: relative;

    .dropdown-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ccc;
        border-top: 0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    &:hover .dropdown-list {
        display: block;
        color: black;
    }

    @media (max-width: 768px) {
        .dropdown-list {
            display: block;
            position: static;
            box-shadow: none;
            border: none;
        }
    }

    @media (max-width: 768px) {
        .dropdown-menu-header {
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-size: 0.85rem;
            color: #646464;

            &:hover {
                color: black !important;
            }
        }
    }

}